/* all the non-framework, custom css goes here */

@font-face {
    font-family: "LeagueSpartan";
    src: url("../fonts/LeagueSpartan-Medium.woff2") format("woff2"),
        url("../fonts/LeagueSpartan-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    border-top: 1rem solid #333;
    font-family: "LeagueSpartan", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 3.2rem;
    
}