{% extends "terminimal/templates/index.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="post">
    <p>The other one, Lonnen, is the one things happen to.</p>
    <p>I wander through New Orleans and pause for a moment, perhaps without thinking, these days, to consider the arrangement of an oak tree and the spanish moss on its branches; I hear about Lonnen in bug mail and see his name in some paper's acknowledgments and the output of `blame`. I like barbells, chess, byzantine generals, the savor of coffee, and Borges' prose. The other one likes these same things, but in a vain way that transforms them into theatrical props.</p>
    <p>&#8230;</p>
    <p>Years ago I tried to free myself of him: I went from terminals and databases to playing games with attention and architecture. But those games belong to Lonnen now — I will have to think of something else. Thus my life escapes and everything I lose belongs to oblivion, or to him.</p>
    <p>I don’t know which of us has written this website.</p>
    <!-- with apologies to Jorge Luis Borges -->
</div>
{% endblock content %}