{% extends "terminimal/templates/index.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="post">
    <p>The other one, Lonnen, is the one things happen to.</p>
    <p>I don’t know which of us has written this website.</p>
    <ul>
        <li><a href="https://github.com/lonnen">GitHub</a></li>
        <li><a href="https://bsky.app/profile/lonnen.departmentoflastresort.com">Bsky</a></li>
        <li><a href="https://xor.lonnen.com/">Blog</a></li>
    </ul>
</div>
{% endblock content %}